.panel-group {
    margin-top: 20px;
}

html,body {
    height: 100%;
}
header {
    background-image: url(img/castelo.jpg);
    background-size: cover;
    background-position: top center;
    height: 75%;
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.topCasaFina-banner {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    width: 80%;
    border-radius: 15px;
}

.titulo-depoimentos {
    background-color: #0275D8;
    padding-top: 25px;
    padding-bottom: 25px;
    color:#FFF;
    margin-bottom: 0;
    font-size: 24 px;
}

.carousel-inner .item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    }
    
.carousel-inner .item{
    height: 35vh;
    width: 100%;
    min-height: 200px;
}

.contato-form {
    padding-bottom: 15px;
}

.contato-select,
.grupo-radio {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

footer {
    background-color: #333;
    color: #FFF;
    padding: 20px ;
}

footer address:last-child {
    margin-bottom: 0;
}