.panel-group {
    margin-top: 20px;
}

.titulo-depoimentos {
    background-color: #0275D8;
    padding-top: 25px;
    padding-bottom: 25px;
    color:#FFF;
    margin-bottom: 0;
    font-size: 24 px;
}

.carousel-inner .item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    }
    
.carousel-inner .item{
    height: 35vh;
    width: 100%;
    min-height: 200px;
}

.contato-select,
.grupo-radio {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}
